<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Vehicle Title</title>
      <th:block th:include="fragments/head.html"/>
</head>
<body>
<div uk-grid>
      <div class="uk-width-1@s uk-width-1-4@m">
            <th:block th:include="fragments/nav.html"/>
      </div>
      <div class="uk-width-1@s uk-width-3-4@m">
            <div class="uk-card uk-card-body">
                  <h1>Rent History page</h1>
                  <hr>
                  <table class="uk-table uk-table-striped">
                        <thead>
                        <tr>
                              <th class="uk-text-bold">Clienti</th>
                              <th:block th:each="brand : ${brands}">
                                    <th class="uk-text-bold" th:text="${brand}"/>
                              </th:block>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="client : ${client_rents}">
                              <tr>
                                    <td th:text="${client.firstName} + ' ' + ${client.lastName}"/>
                                    <th:block th:each="x : ${client.map}">
                                          <td th:text="${x.value}"/>
                                    </th:block>
                              </tr>
                        </th:block>
                        </tbody>
                  </table>
            </div>
      </div>
</div>

<th:block th:include="fragments/footer.html"/>
</body>
</html>
