<div class="uk-card uk-card-default uk-card-body nav-custom">
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="uk-nav-header uk-text-bol">Menu</li>

            <li><a href="/clients/all"><span class="uk-margin-small-right" uk-icon="icon: users"></span> View all Clients</a></li>
            <li><a href="/vehicles/all"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> View all Vehicles</a></li>
            <li class="uk-nav-divider" />

            <li><a href="/rents/all"><span class="uk-margin-small-right" uk-icon="icon: table"></span> View all Rent History</a></li>
            <li><a href="/rents/add"><span class="uk-margin-small-right" uk-icon="icon: plus"></span> Add new Rents</a></li>
      </ul>
</div>