<div class="uk-card uk-card-default uk-card-body nav-custom">
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="uk-nav-header uk-text-bol">Menu</li>

            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: users"></span> View all Clients</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> View all Vehicles</a></li>
            <li class="uk-nav-divider" />

            <li class="uk-parent">
                  <a href="#">Rent a car</a>
                  <ul class="uk-nav-sub">
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> View all</a></li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: plus"></span> Add new</a></li>
                  </ul>
            </li>
      </ul>
</div>